jupyter
notebook

#homeassistant
git+https://github.com/esphome/esphome.git

cec

# Media Players
roku
pychromecast
#pytest-html
#pytest-sugar
#pytest-md
#pytest-emoji

autopep8
black
isort

-e python-tivo

platformio
